:root {
    --firstcolor: #000000;
    --secondcolor: #5D3FD3;
    --thirdcolor: #4B4B4B;
    --fourthcolor: #F0F0F0;
    --fifthcolor: #ff4500;



}

::-webkit-scrollbar {
        width: 10px;
    }
    

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    

    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--thirdcolor);
    color: var(--firstcolor);
    line-height: 1.6;
}


header {
    background-color: var(--firstcolor);
    color: white;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-image: url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 300px; 
}

header .logo {
    font-size: clamp(1rem, 10vw, 3rem);
    font-weight: bold;
    color: var(--fourthcolor);
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: (1.2rem, 4vw, 2.5rem);
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}


footer {
    background-color: var(--fifthcolor);
    color: white;
    padding: 10px 20px;
    position: inherit;
    width: 100%;
    bottom: 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-media a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    text-decoration: underline;
}

figure:hover {
    scale: 1.01;

}

h2 {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: var(--fourthcolor)

}

h3 {
    text-align: center;


}

h4 {
    text-align: center;
    color: var(--thirdcolor);
    font-size: clamp(1rem, 3vw, 1.5rem);

}

p {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(23, 1fr);
    grid-template-areas:"Split Split Split Split Split Split"
                        "box1 box1 box1 box2 box2 box2"
                        "box1 box1 box1 box2 box2 box2"
                        "box1 box1 box1 box2 box2 box2"
                        "box1 box1 box1 box2 box2 box2"
                        "box1 box1 box1 box2 box2 box2"
                        "splitOne splitOne splitOne splitOne splitOne splitOne"
                        "imgOne imgOne imgOne imgTwo imgTwo imgTwo"
                        "imgOne imgOne imgOne imgTwo imgTwo imgTwo"
                        "imgOne imgOne imgOne imgTwo imgTwo imgTwo"
                        "imgOne imgOne imgOne imgTwo imgTwo imgTwo"
                        "imgOne imgOne imgOne imgTwo imgTwo imgTwo"
                        "imgThree imgThree imgThree imgFour imgFour imgFour"
                        "imgThree imgThree imgThree imgFour imgFour imgFour"
                        "imgThree imgThree imgThree imgFour imgFour imgFour"
                        "imgThree imgThree imgThree imgFour imgFour imgFour"
                        "splitTwo splitTwo splitTwo splitTwo splitTwo splitTwo"
                        "box3 box3 box3 box4 box4 box4"
                        "box3 box3 box3 box4 box4 box4"
                        "box3 box3 box3 box4 box4 box4"
                        "box3 box3 box3 box4 box4 box4"
                        "box3 box3 box3 box4 box4 box4";

    grid-gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    height: auto;

}


.Split {
    grid-area: Split;
    background-color: var(--thirdcolor);


}

.box1 {
    grid-area: box1;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    
}

.box2 {
    grid-area: box2;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}


.box3 {
    grid-area: box3;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.box4 {
    grid-area: box4;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.splitOne {
    grid-area: splitOne;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}


.splitTwo {
    grid-area: splitTwo;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;

}


#imgOne {
    grid-area: imgOne;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;

    background-image: url('https://cdn.prod.website-files.com/5e7e506ed2e43c816a1a5025/65421e276d085e5c4775db89_mike-swigunski-k9Zeq6EH_bk-unsplash.jpg');
    background-size: cover; 
    background-position: center; 
}

#imgTwo {
    grid-area: imgTwo;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;

    background-image: url('https://www.pandotrip.com/wp-content/uploads/2013/08/1D110-Bertrand-Monney.jpg');
    background-size: cover; 
    background-position: center; 
}

#imgThree {
    grid-area: imgThree;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;

    background-image: url('https://img.etimg.com/thumb/msid-93504219,width-650,height-488,imgsize-145174,resizemode-75/japan.jpg');
    background-size: cover; 
    background-position: center; 
}

#imgFour {
    grid-area: imgFour;
    background-color: var(--fourthcolor);
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;

    
    background-image: url('https://www.skanetur.se/wp-content/uploads/sites/136/2020/08/iceland-David-Mark.jpg');
    background-size: cover; 
    background-position: center; 
}

.buttonOne button {
    background-color: var(--thirdcolor);
    color: white;
    border: none;
    padding: 8px 20px; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 

}

.buttonOne button:hover {
    background-color: #ff4500;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}


@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "box1"
            "box2"
            "imgOne"
            "imgTwo"
            "box3"
            "box4"
            "imgThree"
            "imgFour";
        grid-gap: 10px;
    }


.Split, .splitOne, .splitTwo {
        display: none;


    }

#imgOne, #imgTwo, #imgThree, #imgFour {
    display: none;

}
    
}