* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--firstcolor);
    color: white;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-image: url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg);
    background-size: cover; /* Gör att bilden täcker hela headern */
    background-position: center; /* Centrerar bilden i headern */
    background-repeat: no-repeat; /* Förhindrar att bilden upprepas */
    height: 300px; /* Ange en höjd för din header, så att bilden syns ordentligt */
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

nav {
    flex-grow: 1;
    text-align: right;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ff6347;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}